.app-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: #222;
}

.app-header h2 {
    margin-left: 1rem;
}

.app-intro {
    text-align: center;
}
